@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&family=Inter:wght@100;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("/assets/images/grid.svg");
}

/* Typography classes */
.title_text {
  @apply text-4xl text-black sm:text-6xl;
}

.subtitle_text {
  @apply text-2xl text-black sm:text-4xl;
}

.desc {
  @apply text-gray-700;
}

.link {
  @apply hover:underline;
}

/* Page classes */
.page_styling {
  @apply mx-8 sm:mx-32;
}

/* Masonry layout */
@layer utilities {
  @variants responsive {
    .masonry {
      column-gap: 0.5em;
      column-count: 1;
    }
    .masonry-sm {
      column-gap: 0.5em;
      column-count: 2;
    }
    .masonry-md {
      column-gap: 0.5em;
      column-count: 3;
    }
  }
}
